
.card{
    width: 520px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position:absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    color:#faebd7;
    box-sizing: border-box;
    padding: 30px;
    transition:1.5s;
}

.card:hover .card-body{
    right:0;
}
.card-title{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
}
.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}
.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400px;
}

@media (max-width: 480px) {
    .card{
        position: static;
        right:0;
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .card-body{
        position: static;
        padding:20px;
        transition:0;
    }
    .card-img{
        border-radius: 0px;
    }
    .card-title{
        font-size: 16px;
    }

}