nav{
    
    margin:50px;
}
nav ul{
    padding:0;
    display: flex;
    justify-content: center;
    gap:50px;
    
}
nav ul li{
    list-style: none; 
}
nav ul li a {
    color:#faebd7;
    text-decoration: none;
}
nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    background: #faebd7;
    transition: width 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
}

@media (max-width: 480px) {
    nav ul{
        gap:25px;
        font-size: 16px;
    }
}