@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import "about.css";
@import "footer.css";
@import "card.css";
@import "new-container.css";
@import "nav.css";
@import "header.css";


body{
    margin:0;
    padding:0;
    font-family: poppins;
    background-color: #131313;
}



