footer{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap:30px;
    color: antiquewhite;
}
footer a{
    text-decoration: none;
    color: #232b3f;
    font-size: 12px;
    padding:3px 5px;
    background-color: antiquewhite;
}
/* @media (max-width: 480px) {
    footer{
        flex-direction: column;
    }
} */